h1 {
	color: firebrick;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	color: teal;
	font-family: cursive;
}

em {
	color: white;
	font-family: Georgia;
	background-color: black;
}

.likes li {
	color: blue;
}

.facts li {
	color: pink;
}

label {
	color: orange;
}

p {
	background-image: url("https://res.cloudinary.com/teepublic/image/private/s--N36M1bhQ--/t_Preview/b_rgb:ffffff,t_Watermark/c_limit,f_jpg,h_630,q_90,w_630/v1483000527/production/designs/1002501_1.jpg");
	color: Navy;
}
