h1 {
	color: firebrick;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	color: teal;
	font-family: cursive;
}

em {
	color: white;
	font-family: Georgia;
	background-color: black;
}

.likes li {
	color: blue;
}

.facts li {
	color: pink;
}

label {
	color: orange;
}

p {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/soccer.jpeg");
	color: Navy;
}
