h1 {
	color: firebrick;
	font-size: 30px;
	text-transform: uppercase;
}

h3 {
	color: teal;
	font-family: cursive;
}

.class {
	color: purple;
	font-family: Georgia;
}

.likes li, .facts li {
	color: blue;
}
